@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.eot');
    src: url('../fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype'),
        url('../fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Light.eot');
    src: url('../fonts/OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Light.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Light.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Light.ttf') format('truetype'),
        url('../fonts/OpenSansCondensed-Light.svg#OpenSansCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

